.joke {
  font-size: 2rem;
}
.joke::before,
.joke::after {
  content: '"';
}

.container {
  max-width: 1000px;
  margin: 1rem;
}

.flex-row {
  display: flex;
  gap: 0.5rem;
}

.inputError {
  color: red;
}
